---
controller_templates:
  - name: Create HCP ZTP Manifests
    organization: "{{ global_organization }}"
    job_type: run
    inventory: LocalAPI
    execution_environment: ztp-ee
    project: Lab OpenShift
    playbook: ansible/playbooks/create-hcp-cluster.yaml
    become_enabled: false
    ask_variables_on_launch: true
    # survey_enabled: true
    credentials:
      - SharedVault
      - OCP-HubCluster

  - name: Mux - HCP ZTP Request to App Ingress PowerDNS Record
    organization: "{{ global_organization }}"
    job_type: run
    inventory: LocalAPI
    execution_environment: ztp-ee
    project: Lab OpenShift
    playbook: ansible/playbooks/mux-hcp-virt-app-dns.yaml
    become_enabled: false
    ask_variables_on_launch: true
    # survey_enabled: true
    credentials:
      - OCP-HubCluster

  - name: Mux - EDA Stream to PowerDNS Record
    organization: "{{ global_organization }}"
    job_type: run
    inventory: LocalAPI
    execution_environment: ztp-ee
    project: Lab OpenShift
    playbook: ansible/playbooks/eda-mux-service-to-pdns.yaml
    become_enabled: false
    ask_variables_on_launch: true
    # survey_enabled: true
    credentials:
      - OCP-HubCluster

  - name: Create Record in PowerDNS
    organization: "{{ global_organization }}"
    job_type: run
    inventory: LocalAPI
    execution_environment: ztp-ee
    project: Lab OpenShift
    playbook: ansible/playbooks/create-pdns-record.yaml
    become_enabled: false
    ask_variables_on_launch: true
    # survey_enabled: true
    credentials:
      - SharedVault
      - KemoLabs-PowerDNS