---
controller_templates:
  - name: Create HCP ZTP Manifests
    organization: "{{ global_organization }}"
    job_type: run
    inventory: LocalAPI
    execution_environment: ztp-ee
    project: Lab OpenShift
    playbook: ansible/playbooks/create-hcp-cluster.yaml
    become_enabled: false
    ask_variables_on_launch: true
    # survey_enabled: true
    credentials:
      - SharedVault
      - OCP-HubCluster

  - name: Mux - HCP ZTP Request to App Ingress PowerDNS Record
    organization: "{{ global_organization }}"
    job_type: run
    inventory: LocalAPI
    execution_environment: ztp-ee
    project: Lab OpenShift
    playbook: ansible/playbooks/mux-hcp-virt-app-dns.yaml
    become_enabled: false
    ask_variables_on_launch: true
    # survey_enabled: true
    credentials:
      - OCP-HubCluster

  - name: Mux - EDA Stream to PowerDNS Record
    organization: "{{ global_organization }}"
    job_type: run
    inventory: LocalAPI
    execution_environment: ztp-ee
    project: Lab OpenShift
    playbook: ansible/playbooks/eda-mux-service-to-pdns.yaml
    become_enabled: false
    ask_variables_on_launch: true
    # survey_enabled: true
    credentials:
      - OCP-HubCluster

  - name: Create Record in PowerDNS
    organization: "{{ global_organization }}"
    job_type: run
    inventory: LocalAPI
    execution_environment: ztp-ee
    project: Lab OpenShift
    playbook: ansible/playbooks/create-pdns-record.yaml
    become_enabled: false
    ask_variables_on_launch: true
    # survey_enabled: true
    credentials:
      - SharedVault
      - KemoLabs-PowerDNS

  - name: Create Sub-Zone PowerDNS
    organization: "{{ global_organization }}"
    job_type: run
    inventory: LocalAPI
    execution_environment: ztp-ee
    project: Lab OpenShift
    playbook: ansible/playbooks/create-pdns-sub-zone.yaml
    become_enabled: false
    survey_enabled: true
    credentials:
      - SharedVault
      - KemoLabs-PowerDNS
    survey_spec:
      name: Sub-Zone Creation
      description: "This survey collects information to create a sub-zone in PowerDNS."
      spec:
        - variable: parent_pdns_zone
          type: text
          required: true
          question_name: "Parent DNS Zone"
          default: "ocp.lab.kemo.network"
        - variable: new_pdns_zone
          type: text
          required: true
          question_name: "New Sub DNS Zone"
          default: "sub.ocp.lab.kemo.network"
          
