---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ztp-{{ hcp_cluster_name }}
  namespace: openshift-gitops
  finalizers:
    # The default behaviour is foreground cascading deletion
    - resources-finalizer.argocd.argoproj.io
    # Alternatively, you can use background cascading deletion
    # - resources-finalizer.argocd.argoproj.io/background
spec:
  ignoreDifferences:
    - group: hive.openshift.io
      jsonPointers:
        - /spec/installed
      kind: ClusterDeployment
    - group: hive.openshift.io
      jsonPointers:
        - /spec
      kind: ClusterDeployment
    - group: extensions.hive.openshift.io
      jsonPointers:
        - /spec
      kind: AgentClusterInstall
    - group: external-secrets.io
      kind: ExternalSecret
      jqPathExpressions:
        - .spec.data[].remoteRef.conversionStrategy
        - .spec.data[].remoteRef.decodingStrategy
        - .spec.data[].remoteRef.metadataPolicy
  destination:
    name: {{ hcp_infrastructure_host }}
  sources:
    - repoURL: '{{ git_pull_url }}'
      targetRevision: {{ git_pull_branch }}
      path: ztp-clusters/{{ hcp_infrastructure_host }}/spokes/{{ hcp_cluster_name }}/
      kustomize: {}
  project: ztp-clusters
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - SkipDryRunOnMissingResource=true
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
      - ApplyOutOfSyncOnly=true
    automated:
      prune: true
      allowEmpty: true
      selfHeal: false
    retry:
      limit: 5