- name: Configure an AAP2 Controller for use of the included automation
  hosts: localhost
  connection: local

  vars:
  # Define following vars here, or in controller_configs/controller_auth.yml
    controller_hostname: hub-controller-aap.apps.tri-force.lab.kemo.network
    controller_username: admin
    controller_password: ZRDEGfOAIBDB32aY4gbm8DOrtmOK5Syw
    controller_validate_certs: false

    # Change to your fork of the repo
    project_scm_url: https://github.com/kenmoini/lab-ocp

    # If not using the default organization, change this to the organization name that you have created
    global_organization: Default

    # Location to the private key that will be used to create a Machine credential
    #  for connecting to RHDE systems
    ssh_private_key: ~/.ssh/MasterKemoKey

    # Location to a file storing the Ansible Vault password
    ansible_vault_password_file: ~/.vault_pass.txt
    
    pdns_admin_url: "https://pdns.kemo.labs"
    pdns_admin_api_key: "djdOaTR1YXFYTnFuMlVL"
    pdns_admin_username: "notansible"
    pdns_admin_password: "n0tPassword"

  environment:
    http_proxy: "{{ http_proxy | default('') }}"
    https_proxy: "{{ https_proxy | default('') }}"
    no_proxy: "{{ no_proxy | default('') }}"
    HTTP_PROXY: "{{ http_proxy | default('') }}"
    HTTPS_PROXY: "{{ https_proxy | default('') }}"
    NO_PROXY: "{{ no_proxy | default('') }}"
    K8S_AUTH_PROXY: "{{ http_proxy | default('') }}"
    K8S_AUTH_NO_PROXY: "{{ no_proxy | default('') }}"

  module_defaults:
    kubernetes.core.k8s_info:
      validate_certs: false
    kubernetes.core.k8s:
      validate_certs: false
    kubernetes.core.helm:
      validate_certs: false

  pre_tasks:
    - name: Include vars from controller directory
      ansible.builtin.include_vars:
        dir: ./vars/controller/
        ignore_files: [controller_config.yml.template]
        extensions: ["yml", "yaml"]

    - name: Setup the connected OpenShift Cluster
      ansible.builtin.include_tasks:
        file: tasks/setup-openshift-cluster.yaml

  roles:
    - {role: infra.controller_configuration.execution_environments, when: controller_execution_environments is defined}
    - {role: infra.controller_configuration.credential_types, when: controller_credential_types is defined}
    - {role: infra.controller_configuration.credentials, when: controller_credentials is defined}
    - {role: infra.controller_configuration.applications, when: controller_applications is defined}

    - {role: infra.controller_configuration.inventories, when: controller_inventories is defined}
    - {role: infra.controller_configuration.hosts, when: controller_hosts is defined}
    - {role: infra.controller_configuration.groups, when: controller_groups is defined}

    - {role: infra.controller_configuration.projects, when: controller_projects is defined}
    - {role: infra.controller_configuration.job_templates, when: controller_templates is defined}
    - {role: infra.controller_configuration.workflow_job_templates, when: controller_workflows is defined}