- name: Configure an AAP2 Controller for use of the included automation
  hosts: localhost
  connection: local

  vars:
  # Define following vars here, or in controller_configs/controller_auth.yml
    aap_hostname: hub-aap.apps.tri-force.lab.kemo.network
    aap_username: admin
    aap_password: asdfsdf
    aap_validate_certs: false

    aap_namespace: aap
    aap_name: hub

    # If not using the default organization, change this to the organization name that you have created
    global_organization: Default

    # Change to your fork of the repo
    project_scm_url: https://github.com/kenmoini/lab-ocp

  environment:
    http_proxy: "{{ http_proxy | default('') }}"
    https_proxy: "{{ https_proxy | default('') }}"
    no_proxy: "{{ no_proxy | default('') }}"
    HTTP_PROXY: "{{ http_proxy | default('') }}"
    HTTPS_PROXY: "{{ https_proxy | default('') }}"
    NO_PROXY: "{{ no_proxy | default('') }}"
    K8S_AUTH_PROXY: "{{ http_proxy | default('') }}"
    K8S_AUTH_NO_PROXY: "{{ no_proxy | default('') }}"

  module_defaults:
    kubernetes.core.k8s_info:
      validate_certs: false
    kubernetes.core.k8s:
      validate_certs: false
    kubernetes.core.helm:
      validate_certs: false

  pre_tasks:
    - name: Include vars from eda directory
      ansible.builtin.include_vars:
        dir: ./vars/eda/
        extensions: ["yml", "yaml"]

    - name: Get the AAP2 Controller Route URL
      kubernetes.core.k8s_info:
        kind: Route
        api_version: route.openshift.io/v1
        namespace: "{{ aap_namespace }}"
        name: "{{ aap_name }}-controller"
      register: route_r

    - name: Get the AAP2 Controller Admin Secret
      kubernetes.core.k8s_info:
        kind: Secret
        api_version: v1
        namespace: "{{ aap_namespace }}"
        name: "{{ aap_name }}-controller-admin-password"
      register: admin_secret_r

    - name: Create RBAC needed for AAP to query Services
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: rbac.authorization.k8s.io/v1
          kind: ClusterRoleBinding
          metadata:
            name: aap-ztp-service-reader
          subjects:
          - kind: ServiceAccount
            name: default
            namespace: "{{ aap_namespace }}"
          roleRef:
            kind: ClusterRole
            name: view
            apiGroup: rbac.authorization.k8s.io

    # - name: Setup the connected OpenShift Cluster
    #   ansible.builtin.include_tasks:
    #     file: tasks/setup-openshift-cluster.yaml

  roles:
    - {role: infra.aap_configuration.eda_decision_environments, when: eda_decision_environments is defined}
    - {role: infra.aap_configuration.eda_credentials, when: eda_credentials is defined}
    - {role: infra.aap_configuration.eda_projects, when: eda_projects is defined}
    - {role: infra.aap_configuration.eda_rulebook_activations, when: eda_rulebook_activations is defined}
