---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - hostedcluster.yaml
  - klusterletaddonconfig.yaml
  - managedcluster.yaml
  - nodepool.yaml
  - pull-secret.yaml
  - ssh-key.yaml
