---
- name: Create DNS record in PowerDNS
  hosts: all
  connection: local
  gather_facts: false
  vars:
    # pdns_admin_url: "http://pdns.example.com:8081/api/v1/servers/localhost/zones/"
    # pdns_admin_api_key: "your-pdns-api-key"
    # pdns_admin_skip_tls_verify: true
    force: false
    fail_on_existing: false
    pdns_zone: "example.com."
    record_name: "test-record.example.com."
    record_type: "A"
    record_ttl: 300
    record_values:
      - content: "192.168.60.100"
      - content: "192.168.60.101"
        disabled: true

  tasks:

    - name: Trim the last dot of the zone and record names if present and then add them back for consistency
      ansible.builtin.set_fact:
        f_pdns_zone: "{{ pdns_zone.rstrip('.') }}."
        f_record_name: "{{ record_name.rstrip('.') }}."

    - name: Get a specific zone from PowerDNS Admin
      kenmoini.powerdns_admin.zone_info:
        pdns_admin_url: "{{ pdns_admin_url }}"
        pdns_admin_api_key: "{{ pdns_admin_api_key }}"
        pdns_admin_skip_tls_verify: "{{ pdns_admin_skip_tls_verify | bool }}"
        id: "{{ f_pdns_zone }}"
      register: r_zone

    - name: Fail if the zone does not exist in PowerDNS Admin
      ansible.builtin.fail:
        msg: "Zone {{ f_pdns_zone }} does not exist in PowerDNS. Cannot create record."
      when: r_zone.zones | length == 0

    - name: Get the records the zone from PowerDNS Admin
      kenmoini.powerdns_admin.record_info:
        pdns_admin_url: "{{ pdns_admin_url }}"
        pdns_admin_api_key: "{{ pdns_admin_api_key }}"
        pdns_admin_skip_tls_verify: "{{ pdns_admin_skip_tls_verify | bool }}"
        zone: "{{ f_pdns_zone }}"
        type: "{{ record_type }}"
        name: "{{ f_record_name }}"
      register: r_records

    - name: Fail if the record already exists in PowerDNS Admin
      when: fail_on_existing and r_records.records | length > 0
      ansible.builtin.fail:
        msg: "Record {{ f_record_name }} of type {{ record_type }} already exists in zone {{ f_pdns_zone }}. Use force=true to overwrite."

    - name: Create or Update the DNS record in PowerDNS Admin
      when: (force and r_records.records | length > 0) or (r_records.records | length == 0)
      kenmoini.powerdns_admin.record:
        pdns_admin_url: "{{ pdns_admin_url }}"
        pdns_admin_api_key: "{{ pdns_admin_api_key }}"
        pdns_admin_skip_tls_verify: "{{ pdns_admin_skip_tls_verify | bool }}"
        zone: "{{ f_pdns_zone }}"
        name: "{{ f_record_name }}"
        type: "{{ record_type }}"
        values: "{{ record_values }}"
        ttl: "{{ record_ttl }}"
        state: present
