---
- name: Create DNS record in PowerDNS
  hosts: all
  connection: local
  gather_facts: false
  vars:
    # pdns_admin_url: "http://pdns.example.com:8081/api/v1/servers/localhost/zones/"
    # pdns_admin_api_key: "your-pdns-api-key"
    # pdns_admin_skip_tls_verify: true
    pdns_zone: "example.com."
    record_name: "test-record.example.com."
    record_type: "A"
    record_ttl: 300
    record_values:
      - "192.168.60.100"

  tasks:

    - name: Include PowerDNS vars
      ansible.builtin.include_vars:
        file: vars/pdns.yaml

    - name: Trim the last dot of the zone and record names if present and then add them back for consistency
      ansible.builtin.set_fact:
        pdns_zone: "{{ pdns_zone.rstrip('.') }}."
        record_name: "{{ record_name.rstrip('.') }}."

    - name: Debug EDA variables
      ansible.builtin.debug:
        var: ansible_eda

    - name: Get a specific zone from PowerDNS Admin
      kenmoini.powerdns_admin.zone_info:
        pdns_admin_url: "{{ pdns_admin_url }}"
        pdns_admin_api_key: "{{ pdns_admin_api_key }}"
        pdns_admin_skip_tls_verify: "{{ pdns_admin_skip_tls_verify | bool }}"
        id: "{{ pdns_zone }}"
      register: r_zone

    - name: Debug the zone
      ansible.builtin.debug:
        var: r_zone

    - name: Get all the records in a zone from PowerDNS Admin
      kenmoini.powerdns_admin.record_info:
        pdns_admin_url: "{{ pdns_admin_url }}"
        pdns_admin_api_key: "{{ pdns_admin_api_key }}"
        pdns_admin_skip_tls_verify: "{{ pdns_admin_skip_tls_verify | bool }}"
        zone: "{{ pdns_zone }}"
      register: r_records

    - name: Debug the records
      ansible.builtin.debug:
        var: r_records
