---
- name: EDA Mux - Set Variables for PowerDNS Record Creation from K8s EDA stream
  hosts: all
  connection: local
  gather_facts: false

  tasks:

    - name: Check that the EDA variables are present
      ansible.builtin.assert:
        that:
          - ansible_eda is defined
          - ansible_eda.event is defined
          - ansible_eda.event.resource is defined
          - ansible_eda.event.resource.metadata is defined
          - ansible_eda.event.resource.metadata.name is defined
          - ansible_eda.event.resource.metadata.namespace is defined
          - ansible_eda.event.resource.metadata.labels is defined
          - ansible_eda.event.resource.metadata.ownerReferences is defined
          - ansible_eda.event.resource.status is defined
          - ansible_eda.event.resource.status.loadBalancer is defined
        fail_msg: "Required EDA event variables are missing."

    - name: Get the cluster name and IP from EDA event metadata
      ansible.builtin.set_fact:
        clusterOwner: "{{ ansible_eda.event.resource.metadata.ownerReferences[0].name }}"
        record_value: "{{ ansible_eda.event.resource.status.loadBalancer.ingress[0].ip }}"

    - name: Get the HostedCluster 
      kubernetes.core.k8s_info:
        api_version: hypershift.openshift.io/v1beta1
        kind: HostedCluster
        name: "{{ clusterOwner }}"
      register: hostedCluster_result

    - name: Set PowerDNS record name from HostedCluster and pass to the next playbook
      ansible.builtin.set_stats:
        record_name: "api.{{ clusterOwner }}.{{ hostedCluster_result.resources[0].spec.dns.baseDomain }}."
        pdns_zone: "{{ hostedCluster_result.resources[0].metadata.labels['hcp.kemo.dev/base-domain'] }}."
        record_type: "A"
        record_ttl: 3600