---
- name: EDA - PVC Expansion
  hosts: all
  connection: local
  gather_facts: false

  vars:
    debug_output: true
    expansion_increment_gi: 10
    auto_expand_prevent_label: "eda.kemo.dev/auto-expand-disabled"
    auto_expand_increment_label: "eda.kemo.dev/auto-expand-increment-gi"

  tasks:
    - name: Display all environment variables
      ansible.builtin.debug:
        var: ansible_env

    - name: Set initial facts
      block:
        - name: Set override facts
          ansible.builtin.set_fact:
            disabledByPVCLabel: "false"
            disabledByNamespaceLabel: "false"
            disabledByStorageClassLabel: "false"
            base_expansion_increment_gi: "{{ expansion_increment_gi }}"

    - name: Check that the EDA variables are present
      ansible.builtin.assert:
        that:
          - ansible_eda is defined
          - ansible_eda.event is defined
          - ansible_eda.event.alert is defined
          - ansible_eda.event.alert.labels is defined
          - ansible_eda.event.alert.labels.prometheus is defined
          - ansible_eda.event.alert.labels.provisioner is defined
          - ansible_eda.event.alert.labels.storageclass is defined
          - ansible_eda.event.alert.labels.persistentvolumeclaim is defined
          - ansible_eda.event.alert.labels.namespace is defined
          - ansible_eda.event.alert.labels.alertname is defined

    - name: Debug EDA event
      when: debug_output | bool
      ansible.builtin.debug:
        var: ansible_eda

    - name: Get the PVC in question
      kubernetes.core.k8s_info:
        api_version: v1
        kind: PersistentVolumeClaim
        namespace: "{{ ansible_eda.event.alert.labels.namespace }}"
        name: "{{ ansible_eda.event.alert.labels.persistentvolumeclaim }}"
      register: pvc_info

    - name: Debug PVC info
      when: debug_output | bool
      ansible.builtin.debug:
        var: pvc_info

    - name: Get the associated Namespace
      kubernetes.core.k8s_info:
        api_version: v1
        kind: Namespace
        name: "{{ ansible_eda.event.alert.labels.namespace }}"
      register: ns_info

    - name: Debug Namespace info
      when: debug_output | bool
      ansible.builtin.debug:
        var: ns_info

    - name: Get the associated StorageClass
      kubernetes.core.k8s_info:
        api_version: storage.k8s.io/v1
        kind: StorageClass
        name: "{{ ansible_eda.event.alert.labels.storageclass }}"
      register: sc_info

    - name: Debug StorageClass info
      when: debug_output | bool
      ansible.builtin.debug:
        var: sc_info

    - name: Get the associated PersistentVolume
      kubernetes.core.k8s_info:
        api_version: v1
        kind: PersistentVolume
        name: "{{ pvc_info.resources[0].spec.volumeName }}"
      register: pv_info

    - name: Debug PersistentVolume info
      when: debug_output | bool
      ansible.builtin.debug:
        var: pv_info

    - name: Make sure we have all the target resources
      ansible.builtin.assert:
        that:
          - pvc_info.resources | length > 0
          - ns_info.resources | length > 0
          - sc_info.resources | length > 0
          - pv_info.resources | length > 0

    - name: Check if the StorageClass allows volume expansion
      ansible.builtin.assert:
        that:
          - (sc_info.resources[0].allowVolumeExpansion | default(false)) | bool
        fail_msg: "The StorageClass {{ pv_info.resources[0].spec.storageClassName }} does not allow volume expansion. Cannot proceed."

    - name: Check if the PVC has a label to prevent auto-expansion
      when: pvc_info.resources[0].metadata.labels is defined
      block:
        - name: Set PVC auto expand prevent fact
          when: pvc_info.resources[0].metadata.labels is defined and pvc_info.resources[0].metadata.labels[auto_expand_prevent_label] is defined
          ansible.builtin.set_fact:
            disabledByPVCLabel: "{{ pvc_info.resources[0].metadata.labels[auto_expand_prevent_label] | default('false') }}"

        - name: Set PVC expansion increment fact
          when: pvc_info.resources[0].metadata.labels is defined and pvc_info.resources[0].metadata.labels[auto_expand_increment_label] is defined
          ansible.builtin.set_fact:
            base_expansion_increment_gi: "{{ pvc_info.resources[0].metadata.labels[auto_expand_increment_label] | default(expansion_increment_gi) }}"

    - name: Check if the Namespace has a label to prevent auto-expansion
      when: ns_info.resources[0].metadata.labels is defined
      block:
        - name: Set Namespace auto expand prevent fact
          when: ns_info.resources[0].metadata.labels is defined and ns_info.resources[0].metadata.labels[auto_expand_prevent_label] is defined
          ansible.builtin.set_fact:
            disabledByNamespaceLabel: "{{ ns_info.resources[0].metadata.labels[auto_expand_prevent_label] | default('false') }}"

        - name: Set Namespace expansion increment fact
          when: ns_info.resources[0].metadata.labels is defined and ns_info.resources[0].metadata.labels[auto_expand_increment_label] is defined
          ansible.builtin.set_fact:
            base_expansion_increment_gi: "{{ ns_info.resources[0].metadata.labels[auto_expand_increment_label] | default(base_expansion_increment_gi) }}"

    - name: Check if the StorageClass has a label to prevent auto-expansion
      when: sc_info.resources[0].metadata.labels is defined
      block:
        - name: Set StorageClass auto expand prevent fact
          when: sc_info.resources[0].metadata.labels is defined and sc_info.resources[0].metadata.labels[auto_expand_prevent_label] is defined
          ansible.builtin.set_fact:
            disabledByStorageClassLabel: "{{ sc_info.resources[0].metadata.labels[auto_expand_prevent_label] | default('false') }}"

        - name: Set StorageClass expansion increment fact
          when: sc_info.resources[0].metadata.labels is defined and sc_info.resources[0].metadata.labels[auto_expand_increment_label] is defined
          ansible.builtin.set_fact:
            base_expansion_increment_gi: "{{ sc_info.resources[0].metadata.labels[auto_expand_increment_label] | default(base_expansion_increment_gi) }}"

    - name: Debug determined facts
      when: debug_output | bool
      ansible.builtin.debug:
        msg:
          - "disabledByPVCLabel: {{ disabledByPVCLabel }}"
          - "disabledByNamespaceLabel: {{ disabledByNamespaceLabel }}"
          - "disabledByStorageClassLabel: {{ disabledByStorageClassLabel }}"
          - "base_expansion_increment_gi: {{ base_expansion_increment_gi }}"

    - name: Check if auto-expansion is disabled by any label
      ansible.builtin.assert:
        that:
          - disabledByPVCLabel | lower != 'true'
          - disabledByNamespaceLabel | lower != 'true'
          - disabledByStorageClassLabel | lower != 'true'
        fail_msg: "Auto-expansion is disabled for this PVC by one of the labels."


    # Get the Thanos Route
    # Read in the EE ServiceAccount token
    # Use the token to query the Thanos API for the current PVC size
    # Get the current size of the PVC
    # Check the size type, if Mi then just convert to Gi
    # If Gi then just add the increment

    - name: Get the Thanos Route
      kubernetes.core.k8s_info:
        api_version: route.openshift.io/v1
        kind: Route
        namespace: openshift-monitoring
        name: thanos-querier
      register: thanos_route_info

    - name: Debug Thanos Route info
      when: debug_output | bool
      ansible.builtin.debug:
        var: thanos_route_info

    - name: Read in the EE ServiceAccount token
      ansible.builtin.slurp:
        src: /var/run/secrets/kubernetes.io/serviceaccount/token
      register: sa_token

    - name: Debug ServiceAccount token
      when: debug_output | bool
      ansible.builtin.debug:
        var: sa_token

    - name: Use the token to query the Thanos API for the current PVC size
      ansible.builtin.uri:
        url: "https://{{ thanos_route_info.resources[0].spec.host }}/api/v1/query?query=kube_persistentvolumeclaim_resource_requests_storage_bytes%7Bnamespace%3D%22{{ ansible_eda.event.alert.labels.namespace }}%22%2Cpersistentvolumeclaim%3D%22{{ ansible_eda.event.alert.labels.persistentvolumeclaim }}%22%7D"
        method: GET
        headers:
          Authorization: "Bearer {{ sa_token.content | b64decode }}"
        validate_certs: false
      register: thanos_query_response

    - name: Debug Thanos query response
      when: debug_output | bool
      ansible.builtin.debug:
        var: thanos_query_response