---
- name: Workflow Entrypoint - Create Hosted Control Plane Cluster
  hosts: localhost
  connection: local
  gather_facts: false

  tasks:
    - name: Check that the HCP Virt ZTP variables are present
      ansible.builtin.assert:
        that:
          - hcp_cluster_type is defined
          - hcp_cluster_type == "kubevirt"
          - input_hcp_cluster_domain is defined
          - hcp_cluster_name is defined
          - hcp_infrastructure_host is defined
        fail_msg: "Required HCP Virt ZTP variables are missing."

    - name: Handle HCP Virt ZTP Cluster Creation
      block:
        - name: Mutate Input Vars based on T-Shirt Size
          ansible.builtin.include_tasks:
            file: tasks/var-mux-hcp-virt.yaml 