---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: open-cluster-management-policies

resources:
  - namespace.yaml
  - root-ca.yaml

  # Health Signals
  - health-checks/

  # Global/Common Policies
  - console-info-header.yaml
  - label-nodes-egressip.yaml
  - audit-logging-config.yaml
  - encrypt-etcd.yaml
  - disable-self-provisioner.yaml
  - root-ca-distribution.yaml
  - remove-kubeadmin.yaml
  - image-vuln-scanning.yaml
  - openshift-samples-config.yaml
  - enable-internal-registry.yaml
  - hcp-bmh-infra-creds.yaml
  - configure-idp.yaml
  - enable-multinetworkpolicy.yaml

  # Operator Installation Policies
  - versioned-operators/
  - operators/

  # Operator instances
  - operator-instances/

  # RHACM Hub Policies
  #- hub-ocp-update-svc.yaml

  # Hosted Control Plane, Bare Metal Policies
  - hcp-bmh-console.yaml

  # Hosted Control Plane, KubeVirt Policies

commonAnnotations:
  argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true