# ---
# apiVersion: v1
# kind: Secret
# metadata:
#   name: ztp-git-push-creds
#   namespace: ztp-system
# type: Opaque
# stringData:
#   git_url: "https://github.com/kenmoini/lab-ocp.git"
#   git_branch: main
#   git_user_name: "ZTP Bot"
#   git_user_email: "ztp@you.me"
#   git_username: usernameHere
#   git_password: ""
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: ztp-git-push-creds
  namespace: ztp-system
spec:
  refreshInterval: "3600s"
  secretStoreRef:
    name: kemo-labs-vault
    kind: ClusterSecretStore
  target:
    name: ztp-git-push-creds
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      engineVersion: v2
      type: Opaque
  data:
    - secretKey: 'git_username'
      remoteRef:
        key: external/github/ztp
        property: username
    - secretKey: 'git_password'
      remoteRef:
        key: external/github/ztp
        property: password
    - secretKey: 'git_url'
      remoteRef:
        key: external/github/ztp
        property: url
    - secretKey: 'git_user_name'
      remoteRef:
        key: external/github/ztp
        property: user_name
    - secretKey: 'git_user_email'
      remoteRef:
        key: external/github/ztp
        property: user_email
    - secretKey: 'git_branch'
      remoteRef:
        key: external/github/ztp
        property: branch