---
# noqa exemptions:
#   command-instead-of-module: We are using git commands instead of modules
#   because the git module does not support all the options we need, like pushing
#######################################################
## Git Push
- name: Technologic
  block:

    - name: Git set push user info # noqa: command-instead-of-module
      ansible.builtin.shell: |
        git config user.email "{{ git_push_user_email }}"
        git config user.name "{{ git_push_user_name }}"
      args:
        chdir: "{{ git_project_path }}"

    - name: Git set push user token info # noqa: command-instead-of-module
      when: (git_push_use_https_repo or git_push_use_http_repo) and git_push_username != '' and git_push_password != ''
      ansible.builtin.shell: |
        git config --global github.user {{ git_push_username }}
        git config --global github.token {{ git_push_password }}
      args:
        chdir: "{{ git_project_path }}"

    - name: Git add target paths # noqa: command-instead-of-module
      ansible.builtin.shell: |
        git add {{ target_path }}
      args:
        chdir: "{{ git_project_path }}"
      loop: "{{ git_add_target_paths }}"
      loop_control:
        loop_var: target_path

    - name: Git branch and commit changes # noqa: command-instead-of-module
      ansible.builtin.shell: |
        git checkout -b {{ git_push_branch }}
        git commit -m "{{ git_commit_message }}"
      args:
        chdir: "{{ git_project_path }}"

    - name: Git set new remote # noqa: command-instead-of-module
      ansible.builtin.shell: |
        git remote add private {{ git_push_url }}
      args:
        chdir: "{{ git_project_path }}"

    - name: Save the contents of the SSH Key to a file
      when: git_push_use_ssh_repo and git_push_ssh_key != ''
      ansible.builtin.copy:
        content: "{{ git_push_ssh_key }}"
        dest: "{{ temp_secrets_dir }}/git_push_ssh_key"
        mode: "0600"
      no_log: true

    - name: Create .ssh folder
      when: git_push_use_ssh_repo and git_push_ssh_key != ''
      ansible.builtin.file:
        path: "{{ ansible_env.HOME }}/.ssh"
        state: directory
        mode: "0700"

    - name: Configure SSH settings # noqa: command-instead-of-module
      when: git_push_use_ssh_repo and git_push_ssh_key != ''
      ansible.builtin.shell: |
        ssh-keyscan {{ git_push_host }} >> $HOME/.ssh/known_hosts
        chmod 0644 $HOME/.ssh/known_hosts
        git config core.sshCommand "ssh -i {{ temp_secrets_dir }}/git_push_ssh_key -oStrictHostKeyChecking=no -oUserKnownHostsFile=/dev/null"
      args:
        chdir: "{{ git_project_path }}"

    - name: Git push the new cluster # noqa: command-instead-of-module
      ansible.builtin.shell: |
        git config http.sslVerify false
        git push private {{ git_push_branch }}
      args:
        chdir: "{{ git_project_path }}"