---
- name: Set cluster parameters for a small t-shirt size cluster (2 nodes, 8vCPU 16GB RAM, SingleReplica)
  when: hcp_tshirt_size == "small"
  ansible.builtin.set_fact:
    hcp_node_count: 2
    hcp_node_cpu: 4
    hcp_node_memory: 8
    hcp_control_plane_availability: SingleReplica
    hcp_infra_availability: SingleReplica
    hcp_etcd_storage_size: 8Gi

- name: Set cluster parameters for a medium t-shirt size cluster (3 nodes, 16vCPU 32GB RAM, SingleReplica/HighlyAvailable)
  when: hcp_tshirt_size == "medium"
  ansible.builtin.set_fact:
    hcp_node_count: 3
    hcp_node_cpu: 16
    hcp_node_memory: 32
    hcp_control_plane_availability: SingleReplica
    hcp_infra_availability: HighlyAvailable
    hcp_etcd_storage_size: 16Gi

- name: Set cluster parameters for a large t-shirt size cluster (4 nodes, 32vCPU 64GB RAM, HighlyAvailable)
  when: hcp_tshirt_size == "large"
  ansible.builtin.set_fact:
    hcp_node_count: 4
    hcp_node_cpu: 32
    hcp_node_memory: 64
    hcp_control_plane_availability: HighlyAvailable
    hcp_infra_availability: HighlyAvailable
    hcp_etcd_storage_size: 32Gi

- name: Set cluster domain based on input
  when: hcp_cluster_domain == "Hosting Cluster Subdomain"
  block:
    - name: Get the ManagedClusterInfo of the Hosting Cluster
      kubernetes.core.k8s_info:
        api_version: internal.open-cluster-management.io/v1beta1
        kind: ManagedClusterInfo
        name: "{{ hcp_infrastructure_host }}"
        namespace: "{{ hcp_infrastructure_host }}"
      register: mci_result