name: Build Container - Private Kemo Labs Golden UBI

env:
  REGISTRY_HOSTNAME: nexus-docker.apps.tri-force.lab.kemo.network
  REGISTRY_IMAGE: nexus-docker.apps.tri-force.lab.kemo.network/docker/kl-golden-ubi
  BUILD_CONTEXT_PATH: containers/kl-golden-ubi
  CONTAINERFILE_PATH: containers/kl-golden-ubi/Containerfile
  # WORKFLOW_TRIGGER is used to force workflow re-runs via changing its value
  WORKFLOW_TRIGGER: 1

on:
  push:
    branches:
      - main
    paths:
      - containers/kl-golden-ubi/**
      - .github/workflows/build-golden-ubi-private.yaml

  # Schedule workflow run at 00:00 on Sunday
  schedule:
    - cron: '0 2 * * 0'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # Build the container
  build:
    name: Build Container
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
          - linux/s390x
          - linux/ppc64le
    steps:

      - name: Prepare
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV

      - name: Check out code
        uses: actions/checkout@v6

      - name: Prepare
        run: |
          sudo mkdir -p /etc/docker/certs.d/${{ env.REGISTRY_HOSTNAME }} && \
          sudo cp containers/kl-golden-ubi/root-ca/kemo-labs.pem /etc/docker/certs.d/${{ env.REGISTRY_HOSTNAME }}/ca.crt && \
          sudo cp containers/kl-golden-ubi/root-ca/kemo-labs.pem /usr/local/share/ca-certificates/kemo-labs.crt && \
          sudo update-ca-certificates && \
          sudo systemctl restart docker

      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: "${{ env.REGISTRY_HOSTNAME }}"
          username: "${{ secrets.PRIVATE_REGISTRY_USERNAME }}"
          password: "${{ secrets.PRIVATE_REGISTRY_TOKEN }}"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-config-inline: |
            [registry."${{ env.REGISTRY_HOSTNAME }}"]
              ca = ["/etc/docker/certs.d/${{ env.REGISTRY_HOSTNAME }}/ca.crt"]

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          # list of Docker images to use as base name for tags
          images: |
            ${{ env.REGISTRY_IMAGE }}

      - name: Build and push by digest
        id: build
        uses: docker/build-push-action@v6
        with:
          platforms: ${{ matrix.platform }}
          tags: ${{ env.REGISTRY_IMAGE }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true
          context: ${{ env.BUILD_CONTEXT_PATH }}
          file: ${{ env.CONTAINERFILE_PATH }}
          labels: ${{ steps.meta.outputs.labels }}
          #push: true
          #provenance: false
          #platforms: linux/amd64, linux/arm64
          #provenance: mode=max
          #sbom: true
          #cache-from: type=gha
          #cache-to: type=gha,mode=max

      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v5
        with:
          name: digests-${{ env.PLATFORM_PAIR }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  merge:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:

      - name: Check out code
        uses: actions/checkout@v6

      - name: Prepare
        run: |
          sudo mkdir -p /etc/docker/certs.d/${{ env.REGISTRY_HOSTNAME }} && \
          sudo cp containers/kl-golden-ubi/root-ca/kemo-labs.pem /etc/docker/certs.d/${{ env.REGISTRY_HOSTNAME }}/ca.crt && \
          sudo cp containers/kl-golden-ubi/root-ca/kemo-labs.pem /usr/local/share/ca-certificates/kemo-labs.crt && \
          sudo update-ca-certificates && \
          sudo systemctl restart docker

      - name: Download digests
        uses: actions/download-artifact@v7
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-*
          merge-multiple: true

      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: "${{ env.REGISTRY_HOSTNAME }}"
          username: "${{ secrets.PRIVATE_REGISTRY_USERNAME }}"
          password: "${{ secrets.PRIVATE_REGISTRY_TOKEN }}"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-config-inline: |
            [registry."${{ env.REGISTRY_HOSTNAME }}"]
              ca = ["/etc/docker/certs.d/${{ env.REGISTRY_HOSTNAME }}/ca.crt"]

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE }}
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=tag
            type=sha,prefix=,suffix=,format=short
            type=sha,prefix=,suffix=,format=long
            type=raw,value=latest

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.REGISTRY_IMAGE }}@sha256:%s ' *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY_IMAGE }}:${{ steps.meta.outputs.version }}

  scan:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      security-events: write
    needs:
      - merge
    steps:

      - name: Check out code
        uses: actions/checkout@v6

      - name: Prepare
        run: |
          sudo mkdir -p /etc/docker/certs.d/${{ env.REGISTRY_HOSTNAME }} && \
          sudo cp containers/kl-golden-ubi/root-ca/kemo-labs.pem /etc/docker/certs.d/${{ env.REGISTRY_HOSTNAME }}/ca.crt && \
          sudo cp containers/kl-golden-ubi/root-ca/kemo-labs.pem /usr/local/share/ca-certificates/kemo-labs.crt && \
          sudo update-ca-certificates && \
          sudo systemctl restart docker

      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: "${{ env.REGISTRY_HOSTNAME }}"
          username: "${{ secrets.PRIVATE_REGISTRY_USERNAME }}"
          password: "${{ secrets.PRIVATE_REGISTRY_TOKEN }}"

      - name: Install roxctl
        uses: stackrox/roxctl-installer-action@v1
        # with:
        #   central-endpoint: ${{ secrets.ACS_CENTRAL_ENDPOINT }}
        #   central-token: ${{ secrets.ROX_API_TOKEN }}
        #   skip-tls-verify: true

      - name: Scan image with roxctl
        shell: bash
        env:
          ROX_ENDPOINT: ${{ secrets.ACS_CENTRAL_ENDPOINT }}
          ROX_API_TOKEN: ${{ secrets.ROX_API_TOKEN }}
          ROX_INSECURE_CLIENT_SKIP_TLS_VERIFY: true
        run: |
          roxctl image scan --output=table --image="${{ env.REGISTRY_IMAGE }}:latest"

      - name: Scan image with roxctl and save to GitHub Artifact
        shell: bash
        env:
          ROX_ENDPOINT: ${{ secrets.ACS_CENTRAL_ENDPOINT }}
          ROX_API_TOKEN: ${{ secrets.ROX_API_TOKEN }}
          ROX_INSECURE_CLIENT_SKIP_TLS_VERIFY: true
        run: |
          roxctl image scan --output=sarif --image="${{ env.REGISTRY_IMAGE }}:latest" > results.sarif
          
      - name: Upload roxctl scan results to GitHub code scanning
        uses: github/codeql-action/upload-sarif@v4
        with:
          category: stackrox-io/kl-golden-ubi
          sarif_file: results.sarif

      - name: Check image with roxctl for Policy Violations
        shell: bash
        env:
          ROX_ENDPOINT: ${{ secrets.ACS_CENTRAL_ENDPOINT }}
          ROX_API_TOKEN: ${{ secrets.ROX_API_TOKEN }}
          ROX_INSECURE_CLIENT_SKIP_TLS_VERIFY: true
        run: |
          roxctl image check --output=table --image="${{ env.REGISTRY_IMAGE }}:latest"