---
apiVersion: cluster.open-cluster-management.io/v1
kind: ManagedCluster
metadata:
  annotations:
    import.open-cluster-management.io/hosting-cluster-name: {{ hcp_infrastructure_host }}
    import.open-cluster-management.io/klusterlet-deploy-mode: Hosted
    open-cluster-management/created-via: hypershift
  labels:
    cloud: KubeVirt
    vendor: OpenShift
    name: {{ hcp_cluster_name }}
    cluster.open-cluster-management.io/clusterset: {{ hcp_cluster_clusterset | default('default') }}
    hcp.kemo.dev/hostedcluster-name: {{ hcp_cluster_name }}
    hcp.kemo.dev/hostedcluster-namespace: {{ hcp_cluster_namespace }}
  name: {{ hcp_cluster_name }}
spec:
  hubAcceptsClient: true
