---
apiVersion: hypershift.openshift.io/v1beta1
kind: NodePool
metadata:
  name: {{ hcp_cluster_name }}-wp0
  namespace: {{ hcp_cluster_namespace }}
spec:
  arch: amd64
  clusterName: {{ hcp_cluster_name }}
  replicas: {{ hcp_node_count }}
  management:
    autoRepair: true
    upgradeType: Replace
  platform:
    type: KubeVirt
    kubevirt:
      compute:
        cores: {{ hcp_node_cpu }}
        memory: {{ hcp_node_memory }}Gi
      rootVolume:
        type: Persistent
        persistent:
          size: 32Gi
      #additionalNetworks:
      #- name: default/d-vlan60
      defaultPodNetwork: true
  release:
    image: {{ hcp_release_image }}
