---
apiVersion: hypershift.openshift.io/v1beta1
kind: NodePool
metadata:
  name: 'kiddie-pool'
  namespace: {{ hcp_cluster_namespace }}
spec:
  arch: amd64
  clusterName: {{ hcp_cluster_name }}
  replicas: 2
  management:
    autoRepair: true
    upgradeType: Replace
  platform:
    type: KubeVirt
    kubevirt:
      compute:
        cores: 4
        memory: 8Gi
      rootVolume:
        type: Persistent
        persistent:
          size: 32Gi
      additionalNetworks:
      - name: default/d-vlan60
      defaultPodNetwork: true
  release:
    image: quay.io/openshift-release-dev/ocp-release:4.20.1-multi
