---
apiVersion: v1
kind: Secret
metadata:
  name: pullsecret-{{ hcp_cluster_name }}
  namespace: {{ hcp_cluster_namespace }}
stringData:
  '.dockerconfigjson': #injected on create
type: kubernetes.io/dockerconfigjson
